.CardProduct{
  background-color: lightblue;
  min-height: 75vh;
  min-width: 360px;
 

}
.CardProduct .show_product{
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:space-evenly; */
}

