.Header_conteiner{
  background-color: gold;
  border: 1px solid silver;
  min-height: 15vh;
  box-sizing: border-box;


}
.title_name{
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: blue;
  padding:0 20px; 
}