.Header{
  background-color: gold;
  border: 1px solid silver;
  min-height: 15vh;
  box-sizing: border-box;


}
.Header .banner_title_shop{
  display: inline-block;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: blue;
  padding:0px 0px; 
  border: 1px solid black;

}
.Header .banner_title_shop::first-letter{
  color:red;
}