.Header_conteiner{
  background-color: gold;
  border: 2px solid silver;
  padding: 20px;
  height: 15vh;


}
.title_name{
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: blue;
  padding:0 20px; 
}